coverage
log
node_modules
npm-debug.log
Dockerfile
.dockerignore
nodemon.json
tslint.json
yarn*.log
build
tmp
cloudbuild.yaml
k8s
.gitignore
.gitlab-ci.yml
.prettierrc

*.js.map

MovieCatolg-ER-Diagram.png
